recipe-details-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    }
    .details-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    }
    .details-header h1{
    font-size: 24px;
    color: #333;
    }
    .back-button {
    text-decoration: none;
    font-size: 19px;
    color: #007bff;
    }
    .back-button:hover {
    text-decoration: underline;
    }
    .recipe-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .image-section {
    text-align: center;
    }
    .recipe-image {
    max-width: 50%;
    border-radius: 8px;
    }
    .recipe-info {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .ingredients-list ,
    .instructions-list {
    margin: 0;
    padding: 0 20px;
    list-style-type: disc;
    }
    .ingredients-list li,
    .instructions-list li{
    margin-bottom: 10px;
    }